
src/OpenGLCourse/OpenGLCourseApp/Debug/
src/OpenGLCourse/Debug/
src/OpenGLCourse/.vs/
src/OpenGL-MacApp/build/
src/OpenGL-MacApp/.DS_Store
src/.DS_Store
src/OpenGL-MacApp/Shaders/.DS_Store
.DS_Store
src/OpenGL-MacApp/cmake-build-debug/
src/OpenGL-MacApp/cmake-build-debug-visual-studio/.cmake/api/v1/reply/cache*
src/OpenGL-App/.vs/
src/OpenGL/.vs/
src/OpenGL/out/build/x64-debug/
